/**
 * TYPOGRAPHY
 */
$primary-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-font: 200 1.1em $primary-font-family;
$secondary-font: 400 100% $primary-font-family;

/**
 * COLORS
 */

// TEXT
$primary-text: #000;
$secondary-text: #4e4e4e;
$light-text: #fefefe;
$header-text: $secondary-text;
$effect-text: #cc232a;

// BACKGROUNDS
$primary-background: #fefefe;
$secondary-background: #292929;
$header-background: #fed332;




/**
 * MEASURES
 */
$gutter: 2em;

/**
 * BREAKPOINTS
 */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
